;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 []

 :dev-http {8081 "public"}
 
 :builds
 {:app
  {:target :browser
   :modules {:main {:init-fn noise.app/init}}}}}
